* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: row;

}
.title{
  padding: 1rem;
}

.tasks{
  margin: 1rem;
  background-color: aqua;
}

.MyTasks{
  margin-right: 1rem;
  margin-left: 2rem;
}
